<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <script src="<%= BASE_URL %>tracker/build/tracking-min.js"></script>
    <link rel="stylesheet" href="<%= BASE_URL %>tracker/examples/assets/demo.css">
    <script src="<%= BASE_URL %>tracker/build/tracking-min.js"></script>
    <script src="<%= BASE_URL %>tracker/build/data/face-min.js"></script>
    <script src="<%= BASE_URL %>tracker/examples/assets/stats.min.js"></script>
    <title>tracker</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but tracker doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
