<template>
  <div id="app" class="app">
    <div class="app__video-block">
      <video ref="video" id="video" width="320" height="240" preload autoplay loop muted></video>
      <canvas ref="canvas" id="canvas" width="320" height="240"></canvas>
    </div>
    <div>
      <button @click="trackStart">start трекер</button>
      <hr>
      <button @click="trackStop">stop трекер</button>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import * as dat from 'dat.gui';
/* eslint-disable */

export default {
  name: 'app',
  components: {},
  data () {
    return {
      tracker: null,
      track: null,
      video: null,
      canvas: null,
      context: null
    }
  },
  watch: {
    'tracker.stepSize' (val) {
      console.log(val)
    }
  },
  mounted () {
      this.video = this.$refs.video
      this.canvas = this.$refs.canvas
      this.context = this.$refs.canvas.getContext('2d');

      // ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
      //   Тестовый трекер
      // ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱
      this.testTracker()

      // ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
      //   Трекер лиц
      // ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱
      // this.faceTracker()
    },
    methods: {
      testTracker () {
        const self = this
        // ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
        //   Создаем трекер
        // ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱
        this.$tracking.MyTracker = function(params) {
          self.$tracking.MyTracker.base(this, 'constructor')
        }

        // ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
        //   Инициализируем через API
        // ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱
        this.$tracking.inherits(this.$tracking.MyTracker, this.$tracking.Tracker);

        // ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
        //   Добавляет track
        // ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱
        this.$tracking.MyTracker.prototype.track = function(pixels, width, height) {
          // console.log(pixels)
          // const result = self.$tracking.ViolaJones.detect(pixels, width, height);
          // console.log(result)
          this.emit('track', {
            data: ['result']
          });
        }

        // ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
        //   Инициализируем в компоненте
        // ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱
        this.tracker = new this.$tracking.MyTracker('sad')

        // ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
        //   Ставим прослушку
        // ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱
        this.tracker.on('track', (event) => {
          // console.log(event)
          this.context.clearRect(0, 0, this.canvas.width, this.canvas.height)

          event.data.forEach((rect) => {
            this.context.strokeStyle = '#a64ceb'
            this.context.strokeRect(rect.x, rect.y, rect.width, rect.height)
            this.context.font = '11px Helvetica'
            this.context.fillStyle = "#fff"
            this.context.fillText('x: ' + rect.x + 'px', rect.x + rect.width + 5, rect.y + 11)
            this.context.fillText('y: ' + rect.y + 'px', rect.x + rect.width + 5, rect.y + 22)
          })
        })

        // ¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯
        //   Запускаем трекер
        // ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱ ̱
        this.track = this.$tracking.track('#video', this.tracker, { camera: true })
      },

      faceTracker () {
        this.tracker = new this.$tracking.ObjectTracker('face');

        Vue.util.defineReactive(this.tracker, 'stepSize', this.tracker.stepSize)
        this.tracker.setInitialScale(4)
        this.tracker.setStepSize(2)
        this.tracker.setEdgesDensity(0.1)

        this.track = this.$tracking.track('#video', this.tracker, { camera: true })

        this.tracker.on('track', (event) => {
          // console.log(event)
          this.context.clearRect(0, 0, this.canvas.width, this.canvas.height)

          event.data.forEach((rect) => {
            this.context.strokeStyle = '#a64ceb'
            this.context.strokeRect(rect.x, rect.y, rect.width, rect.height)
            this.context.font = '11px Helvetica'
            this.context.fillStyle = "#fff"
            this.context.fillText('x: ' + rect.x + 'px', rect.x + rect.width + 5, rect.y + 11)
            this.context.fillText('y: ' + rect.y + 'px', rect.x + rect.width + 5, rect.y + 22)
          })
        })
        const gui = new dat.GUI()
        gui.add(this.tracker, 'edgesDensity', 0.1, 0.5).step(0.01)
        gui.add(this.tracker, 'initialScale', 1.0, 10.0).step(0.1)
        gui.add(this.tracker, 'stepSize', 1, 5).step(0.1)
      },
      trackStart () {
        this.track.run()
      },
      trackStop () {
        this.track.stop()
      }
    }
  }
</script>

<style lang="stylus">
.app
  font-family 'Avenir', 'Helvetica', 'Arial', 'sans-serif'
  width 400px
  height 100vh 
  margin 0 auto
  padding-top 18vh
  
.app__video-block
  position relative
  width 320px
  height 240px
  margin 0 auto

video
canvas
  position absolute
  top 0
  left 0
</style>
